@import './animations.styl'

html, body
  margin 0
  padding 0
  /* Adjust font size */
  font-size 100%
  -webkit-text-size-adjust 100%
  /* Font varient */
  font-variant-ligatures none
  // -webkit-font-variant-ligatures none
  /* Smoothing */
  text-rendering optimizeLegibility
  -moz-osx-font-smoothing grayscale
  font-smoothing antialiased
  -webkit-font-smoothing antialiased
  text-shadow rgba(0, 0, 0, .01) 0 0 1px

html *
  box-sizing border-box

body
  font-family 'Open Sans', sans-serif
  font-weight 400
  font-size 16px
  background #f0f0f0

h1, h2, h3
  margin 0

:global #bg
  position fixed
  height 100%
  width 100%
  &:before, &:after
    background-position top left
    background-attachment fixed
    bottom 0
    content ''
    display block
    left 0
    position fixed
    right 0
    top 0
    z-index 1
  &:before
    background-image url('assets/imgs/clouds.jpg')
    background-repeat no-repeat
    background-size cover
    animation-duration 35s
    animation-name scale-to-center
    animation-timing-function ease-out
  &:after
    background-image url('assets/imgs/dot-black.png')
    background-position 5px 5px
    opacity 0.5
    z-index 2
