.Quote
  color #f5f5f5
  font-size 11em
  font-weight bolder
  height 100%
  line-height 0.7
  max-width 1200px
  margin 0 auto
  text-align center
  text-shadow 0 0 20px rgba(#000, .6)
  .Quote_Text
    margin 0
    position relative
    top 45%
    transform translate(0, -50%)
